html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 71%;
  margin: 0 auto;
  max-width: 1140px;
}

.wrp {
  display: none;
  position: absolute;
  background-color: black;
}

.wrp-active {
  width: 100%;
  height: 765px;
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.45);
}

.breadclumb {
  background: #F8F3F4;
  padding: 60px 0;
}

.breadclumb__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__loupe:hover + .header__input {
  width: 100px;
  border-bottom: 1px solid white;
}

.header__loupe {
  cursor: pointer;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input:hover {
  width: 100px;
  border-bottom: 1px solid white;
}

.header__input {
  cursor: pointer;
  height: 27px;
  width: 0px;
  border: none;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
  color: #fff;
  padding: 0 0 0 10px;
  margin-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.header__input:focus {
  outline: none;
}

.header__navigation {
  background: #fff;
  width: 232px;
  height: 765px;
  padding: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  right: 0;
  display: none;
}

.header__menu-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 900;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

.header__menu-subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 20px 0 12px 0;
}

.header__item a {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  text-decoration: none;
}

.header__navigation .header__button {
  position: relative;
  left: 150px;
}

.header__item {
  margin: 0 0 12px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  cursor: pointer;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__preson {
  margin: 0 34px 0 0;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px 0;
}

.brand__title {
  font-family: Lato;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.brand__img {
  width: 50%;
  height: auto;
}

.brand__title-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 92px;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

.brand__subtitle_pink {
  color: #F16D7F;
}

.display-block {
  right: 0px;
  z-index: 3;
  display: block;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__item {
  background: rgba(33, 22, 22, 0.7);
  background-size: cover;
  width: 32%;
  min-width: 350px;
  min-height: 260px;
  margin: 0 0 30px 0;
}

.offers__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.offers__item_women {
  background-image: url(../img/for_women.jpg);
  background-size: cover;
}

.offers__item_women {
  background-image: url(../img/for_women.jpg);
}

.offers__item_men {
  background-image: url(../img/for_men.jpg);
}

.offers__item_kids {
  background-image: url(../img/for_kids.jpg);
}

.offers__item_accesories {
  background-image: url(../img/accesories.jpg);
  min-height: 180px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offers__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.offers__subtitle {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.fetured__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.fetured__subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin: 6px 0 42px 0;
  color: #5D5D5D;
}

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fetured__item {
  max-width: 350px;
  background: #F8F8F8;
  margin: 0 0 30px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fetured__item img {
  display: block;
}

.fetured__item:hover .card-overlay {
  top: 0;
}

.fetured__text {
  padding: 25px 28px 20px 19px;
}

.fetured__itemTitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 25px 0 13px 0;
}

.fetured__itemSubtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.fetured__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin: 18px 0 0 0;
}

.fetured__button {
  border: 1px solid #F16D7F;
  padding: 14px 38px;
  color: #F16D7F;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fetured__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
  box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
}

.fetured__button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0 0 0;
}

.fetured .overlay-wrapper {
  overflow: hidden;
  position: relative;
}

.fetured .card-overlay {
  top: 800px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fetured .overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #fff;
  padding: 13px 15px 12px 50px;
}

.fetured .overlay-button::before {
  content: ' ';
  width: 27px;
  height: 25px;
  background-image: url(../img/card.svg);
  position: absolute;
  left: 10px;
  top: 10px;
}

.advantages {
  padding: 104px 0;
  background: #222222;
  margin: 95px 0 0 0;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 360px;
}

.advantages__itemTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.advantages__itemSubtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
}

.footer__info_wrapper {
  background-image: url(../img/footer_bg.jpg);
  background-size: cover;
  padding: 86px 0 126px 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

.footer__quote {
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

@media (max-width: 768px) {
  .footer__subscribe {
    margin-top: 48px;
  }
}

.footer__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.footer_subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 5px 0 32px 0;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input {
  height: 49px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background: #E1E1E1;
  border: none;
  padding: 0 0 0 27px;
  width: 250px;
}

.footer__input:focus {
  outline: none;
}

.footer__button {
  height: 49px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background: #F16D7F;
  width: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__button:focus {
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__contacts_wrapper {
  background: #222222;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__icons {
  margin: 23px 0 23px 0;
}

.footer__icons svg {
  fill: #fff;
}

.footer__copyright {
  color: #fff;
}

.registration__forms {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__lagend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 20px 0;
}

.registration__item_padding {
  padding-bottom: 35px;
}

.registration .input-text,
.registration .input-label {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.registration .input-label {
  margin-right: 15px;
}

.registration .input-text {
  min-width: 360px;
  min-height: 45px;
  margin: 0 0 21px 0;
  padding: 0 0 0 16px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__input-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
  max-width: 360px;
  margin: 0 0 39px 0;
}

.registration__perks {
  max-width: 650px;
  margin-left: 70px;
}

.registration__button {
  background: #F16D7F;
  padding: 16px 0 16px 29px;
  border: none;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 96px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.registration__button-img {
  margin: 0 20px 0 20px;
}

.registration__title-perks {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.registration__text-perks {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 22px;
}

.registration__item-preks {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 16px;
  padding: 0 0 0 54px;
  position: relative;
}

.registration__item-preks::before {
  content: ' ';
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/perks-check.svg);
  left: 0px;
  top: 7px;
}

.registration .radio-input {
  margin: 0 5px 0 0;
}

.registration .input-text:focus {
  -webkit-box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
  box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
  outline: none;
}

.registration__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
  box-shadow: 0px 8px 15px 5px rgba(241, 109, 127, 0.45);
}

.cart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 0 128px 0;
}

.cart__text-block {
  padding: 22px 0 0 31px;
  width: 262px;
}

.cart__items {
  min-width: 650px;
}

.cart__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 7px 11px 14px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 11px 14px 5px rgba(0, 0, 0, 0.3);
}

.cart__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.cart__text {
  color: #575757;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
}

.cart__img {
  height: 100%;
}

.cart__price:after {
  content: ' $300';
  color: #F16D7F;
}

.cart__color:after {
  content: ' Red';
}

.cart__size:after {
  content: ' XL';
}

.cart__quantity:after {
  content: ' 2';
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  padding: 1px 16px;
}

.cart__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__card-button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
  padding: 16px 39px;
  background: #fff;
  margin-top: 72px;
  text-decoration: none;
  color: #000;
}

.cart__form {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart__lagend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.cart__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
  width: 360px;
  padding: 13px 0 16px 17px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}

.cart__quote {
  border: 1px solid #A4A4A4;
  margin-top: 24px;
  padding: 10px 14px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  background: #fff;
  text-transform: uppercase;
}

.cart__total-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 57px;
  width: 360px;
  background: #F8F3F4;
  padding: 43px;
  text-align: right;
}

.cart__subtotal {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.cart__subtotal:after {
  content: ' $900';
  margin-left: 20px;
}

.cart__grandtotal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  margin-top: 12px;
}

.cart__grandtotal:after {
  content: ' $900';
  color: #F16D7F;
  margin-left: 20px;
  font-weight: 900;
}

.cart__hr {
  height: 1px;
  width: 100%;
  background: #E2E2E2;
  margin-top: 21px;
}

.cart__button {
  margin-top: 17px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background: #F16D7F;
  border: none;
  padding: 16px 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.carousel-item {
  max-height: 699px;
}

.collection {
  text-align: center;
  color: #5D5D5D;
}

.collection__title {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 62px 0 12px 0;
}

.collection__line_pink {
  display: block;
  margin: 0 auto;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
}

.collection__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 12px 0 48px 0;
}

.collection__text {
  max-width: 555px;
  margin: 0 auto;
}

.collection__price {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 32px 0 0 0;
}

.collection__line_grey {
  display: block;
  width: 174px;
  height: 1px;
  background-color: #5D5D5D;
  margin: 32px auto 49px auto;
}

.collection__choose_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 374px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__choose_item {
  position: relative;
  text-transform: uppercase;
  color: #5D5D5D;
}

.collection__choose_item:after {
  content: ' ';
  background-image: url(../../img/choose.svg);
  width: 10px;
  height: 6px;
  position: absolute;
  top: 8px;
  right: -16px;
  cursor: pointer;
}

.collection__choose_btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #5D5D5D;
}

.collection__button {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  padding: 14px 57px 14px 72px;
  margin: 48px 0 65px 0;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .offers__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offers__item_women {
    margin-right: 25px;
  }
  .offers__item_kids {
    margin-right: 25px;
  }
  .fetured__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart__forms-wrapper {
    margin-top: 65px;
  }
  .collection__fetured .fetured__list li:last-child {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .offers__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offers__item_women {
    margin-right: 25px;
  }
  .offers__item_kids {
    margin-right: 25px;
  }
  .collection__fetured .fetured__list li:last-child {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
  .brand_title {
    font-size: 47px;
    line-height: 56px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__subtitle {
    font-size: 27px;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
  }
  .brand__title_wrapper {
    padding-left: 80px;
  }
  .fetured__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .input-text {
    min-width: 330px;
  }
  .registration__title-perks {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
  .registration__text-perks {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
  .registration__item-preks {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
  .cart__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart__forms-wrapper {
    margin-top: 65px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 91%;
  }
  .header__preson_link {
    display: none;
  }
  .header__cart_link {
    display: none;
  }
  .header__button {
    margin: 0;
  }
  .brand_title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
  .brand__title_wrapper {
    padding-left: 40px;
  }
  .offers__item {
    min-width: 32%;
    min-height: 150px;
  }
  .offers__item_accesories {
    min-height: 110px;
  }
  .advantages {
    padding: 0 0 48px 0;
  }
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__item {
    max-width: 360px;
    padding-top: 48px;
  }
  .cart__items {
    min-width: 310px;
  }
  .cart__card {
    max-height: 188px;
  }
  .cart__img {
    height: 188px;
  }
  .cart__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 21px;
  }
  .cart__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
  .cart__input {
    width: 310px;
  }
  .cart__total-wrapper {
    width: 310px;
  }
  .cart__text-block {
    padding: 5px 0 0 10px;
  }
}

@media (min-width: 632px) and (max-width: 768px) {
  .offers__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
  .offers__subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 632px) {
  .brand {
    min-height: 363px;
  }
  .brand__title_wrapper {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand__img {
    display: none;
  }
  .offers__item {
    min-width: 100%;
    min-height: 247px;
  }
  .offers__item_accesories {
    min-height: 111px;
  }
  .registration__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration .input-text {
    width: 100%;
    min-width: 310px;
  }
  .registration__perks {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 375px) {
  .header__wrapper {
    min-height: 55px;
  }
  .brand_title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
  }
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
  .fetured__item {
    max-width: 316px;
  }
  __item img {
    width: 100%;
  }
  .advantages__list {
    min-width: 310px;
  }
  .advantages__item {
    max-width: 300px;
    padding-top: 28px;
  }
  .footer__input {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */