.offers {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        background: rgba(33, 22, 22, 0.7);
        width: 360px;
        min-height: 260px;
        margin: 0 0 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__item_women {
        background-image: url(../img/for_women.jpg);
    }

    &__item_women {
        background-image: url(../img/for_women.jpg);
    }

    &__item_men {
        background-image: url(../img/for_men.jpg);
    }

    &__item_kids {
        background-image: url(../img/for_kids.jpg);
    }

    &__item_accesories {
        background-image: url(../img/accesories.jpg);
        flex-grow: 1;
    }

    &_title {
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #E76B7C;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;

    }
}